.contact-main {
  padding: 5rem 0 2rem 0;
  height: 100%;
}

.contact-main__container {
  padding: 0 2rem;
  color: #f8f7f1;
}

.contact-hero__heading {
  margin-top: 2rem;
}

.contact-table {
  position: relative;
  left: -4rem;
  margin: 4rem 0;
  animation: fade-in 1.3s .6s backwards;
  border-collapse: collapse;
  width: 70%;
}

/* Animations */

.contact-table:nth-child(2) tr:first-child {
  animation: fade-in 1.3s .6s backwards;
}

.contact-table:nth-child(2) tr:last-child {
  animation: fade-in 1.3s .8s backwards;
}

.contact-table:last-child tr:first-child {
  animation: fade-in 1.3s 1s backwards;
}

.contact-table:last-child tr:last-child {
  animation: fade-in 1.3s 1.2s backwards;
}

.contact-icon {
  width: 8rem;
}

.contact-info {
  padding: 1rem 0;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}

.contact-info a:link {
  color: #db27fa;
  font-weight: 700;
  font-size: 1.5rem;
}

.contact-info a:visited {
  color: #AF9933;
  opacity: .9;
  font-weight: 400;
}

.contact-info a:hover,
.contact-info a:focus,
.contact-info a:active {
  opacity: .9;
}

/* === Media Queries === */

/* = Wide Tablet */

@media only screen and (min-width: 62.5em) and (orientation: portrait) { /* 1000px */
  .contact-main {
    padding: 10rem 0;
  }

  .contact-main__container {
    margin: 4rem 0;
  }

  .contact-hero__heading {
    margin-bottom: 3rem;
    font-size: 6rem;
    letter-spacing: .5rem;
  }

  .contact-info {
    font-size: 2rem;
  }

  .contact-info a:link {
    font-size: 2.5rem;
  }
}

/* = Tablet = */
@media only screen and (max-width: 770px) and (orientation: portrait) { /* 770px */
  .contact-main {
    padding: 10rem 0;
  }

  .contact-main__container {
    margin: 4rem 0;
  }

  .contact-hero__heading {
    margin-bottom: 1rem;
  }
}

/* = Mobile = */
@media only screen and (max-width: 41.9em) { /* 670px */
  .contact-main {
    padding: 5rem 0;
  }

  .contact-main__container {
    margin-top: 6rem;
    padding: 0;
  }

  .contact-hero__heading {
    font-size: 2.5rem;
    letter-spacing: .2rem;
  }

  .contact-table {
    left: 0;
    width: 93%;
    font-size: 1.2rem;
  }

  .contact-table:last-child {
    margin-bottom: 0;
  }

  .contact-icon {
    width: 3.5rem;
  }

  .contact-info a:link {
    font-size: 1.2rem;
  }
}
