/* === Services & Rates === */

.services-hero {
  padding: 3rem 0;
}

.services-hero-container {
  padding: 10rem 2rem;
  margin: 0 auto;
  color: var(--white);
}

.services-hero__heading {
  margin-top: -3rem;
}

.services-hero-container p {
  margin: 5rem 0 1rem 0;
  width: 75%;
  animation: fade-in 1.3s .8s backwards;
}

.services-main {
  background: var(--off-white);
  padding: 3rem 0;
}

.services-main .container {
  margin: 0 auto;
  padding-top: 3rem;
}

.services-2 {
  margin-top: 5rem;
}

.services-main h3 {
  color: var(--dark-purple);
  font-size: 2.5rem;
  letter-spacing: .01rem;
  text-align: center;
  text-decoration: underline;
}

caption {
  font-weight: bold;
  text-decoration: underline;
}

.services-main h4 {
  color: var(--dark-purple);
  margin-top: 3rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

.services-main h5 {
  font-size: 1.6rem;
  margin-top: 3rem;
  text-align: center;
}

.sale {
  margin: 2rem 0;
  color: black;
  text-align: center;
}

.sale img {
  display: inline-block;
  margin: 0 1rem;
  height: 1.4rem;
  width: auto;
}

.rates {
  border-collapse: collapse;
  margin: 1rem auto;
}

.rates-2 {
  margin-top: 3rem;
}

.rates td {
  padding: 1rem 0;
}

.rates td:first-child {
  text-align: left;
}

.rates td:last-child {
  text-align: right;
  font-weight: bold;
}

.rates tr:not(:last-child) td {
  border-bottom: 1px solid rgba(191, 191, 191, .75);
}


/* === Media Queries === */

/* = Wide Tablet = */

@media only screen and (min-width: 62.5em) and (orientation: portrait) {
  .services-hero {
    height: 80%;
  }

  .services-hero__heading {
    font-size: 6rem;
  }

  .services__rates {
    width: 40%;
  }
}

/* = Thin Desktop/Tablet = */

@media only screen and (max-width: 64.93em) { /* 1039px */
  .services-hero-container p {
    width: 90%;
  }

  .services-main .container {
    width: 90%;
  }
}

/* = Mobile = */

@media only screen and (max-width: 42em) { /* 672px */
  .services-hero-container .services-hero__heading {
    font-size: 2.8rem;
    letter-spacing: .2rem;
  }
}
