.btn {
  padding: 1.3rem 4rem;
  /* height: 5.5rem;
  width: 18rem; */
  font-size: 1.5rem;
  background-color: var(--light-purple);
  border: none;
  border-radius: .6rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
  transition: all 250ms;
}