/* === INFO FIELD === */
.info-field {
  position: absolute;
  right: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0 5px 12px rgba(0,0,0,.2);
  height: 48rem;
  width: 25rem;
  z-index: 1000;

  &__heading {
    font-size: 2rem;
    text-align: center;
    color: var(--dark-purple);
  }

  input {
    width: 100%;
    padding: .5rem;
    font-size: 1.5rem;
    border: none;

    &:focus {
      outline: solid var(--light-purple);
    }
  }

  @include respond(desktop-sm) {
    padding: 2rem 1rem;
    position: relative;
    top: 3rem;
    right: 0;
    height: 53rem;

    &-container {
      margin-top: -3rem;
      padding-bottom: 2rem;
      background-color: var(--off-white);
    }
  }
}

.info {
  &-home {
    top: 20rem;
    right: 6rem;

    @include respond(desktop-md) {
      right: 1rem;
    }
  }

  &-services {
    top: 6.5rem;
    right: 1rem;
  }

  &-contact {
    top: 12rem;
  }

  &-contact {
    @include respond(tablet-lg) {
      top: 25rem;
    }
  }

  &-mobile {
    display: none;
  }

  @include respond(desktop-sm) {
    &-desktop {
      display: none;
    }

    &-mobile {
      display: flex;
      margin: 2rem auto;
      width: 95%;
      z-index: 1;
    }
  }
}

.field-box {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.date-label, 
.time-label {
  display: block;
}

.btn-submit {
  margin-top: 2rem;
  color: var(--white);
}