/* === Loader === */
.loader-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  z-index: 1000;

  &.remove {
    display: none;
  }
}

.loader {
  border: .5rem solid rgba(0, 0, 0, .05);
  border-bottom: .5rem solid var(--light-purple);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;

  animation: spin 1s linear infinite;
}
