/* === Reset === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === Global Styles === */

html {
  font-size: 62.5%;

  @include respond(tablet-lg) {
    font-size: 50%;
  }
}

.container {
  width: 100rem;
  max-width: 100%;
}

/* === Body === */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  overflow-x: hidden;
}

.hero {
  min-height: calc(100vh - 165px);
}
