/* === Reset === */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* === Global Styles === */

html {
  font-size: 62.5%;
}

.container {
  width: 100rem;
  max-width: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.home__heading {
  font-family: 'Kaushan Script', cursive;
}


/* === Body === */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
}