/* === Hero Section === */

.gallery-hero {
  padding: 5rem 0;
  z-index: 5;

  &__heading {
    font-size: 5rem;
  }

  @include respond(tablet-lg) {
    padding: 10rem 0;

    &__heading {
      font-size: 6rem;
    }
  }
}

/* === Gallery Main Section === */

.gallery-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0;
    width: 70%;
  }

  &__sect--link:link {
    font-weight: 700;
    color: var(--light-purple);
  }

  &__sect--link:visited {
    color: var(--gold);
  }

  &__sect--link:hover,
  &__sect--link:active,
  &__sect--link:focus {
    opacity: .8;
  }
}

.gallery-main__nav-link:link,
.gallery-main__nav-link:visited {
  margin-bottom: 1rem;
  padding: 0 1rem;

  animation: fade-in 1.3s .8s backwards;
  background: linear-gradient(-120deg,
                              transparent 0%,
                              transparent 50%,
                              var(--light-purple) 50%);
  background-size: 240%;
  background-position: 100%;
  transition: all .5s ease-in-out;

  color: var(--light-purple);
  font-weight: 600;
  font-size: 1.7rem;
  text-decoration: none;

  @include respond(tablet) {
    margin: 1rem 2rem;
  } 
}

.gallery-main__nav-link:hover,
.gallery-main__nav-link:active,
.gallery-main__nav-link:focus {
  background-position: 0%;
  color: var(--white);
}

video {
  width: 100%;
  outline: none;
}

.gallery-section {
  padding: 4rem 0 4rem 0;
  background-color: var(--off-white);
  width: 100%;
  text-align: center;
  overflow: hidden;

  &__heading {
    margin: 4rem 0 2rem 0;
    color: var(--dark-purple);
    font-size: 3rem;
    letter-spacing: .2rem;
  }
}

section .container {
  margin: 0 auto;
}

.stills {
  max-width: 90%;
  margin: 0 auto;
}

.slick-arrow {
  margin: 2.5rem auto;
  padding: .6rem 1.3rem;
  background: var(--light-purple);
  border-radius: 6px;
  border: none;
  color: var(--white);
  cursor: pointer;
  outline: none;

  &:hover {
    opacity: .8;
  }
}

.section-sub-heading {
  margin: 8rem 0 4rem 0;
  font-size: 2rem;
}

.tour-link {
  display: inline-block;
  margin: 3rem 0;
}

/* = Popup = */

.popup {
  position: fixed;
  left: 0;
  top: 0;

  display: flex;

  background-color: rgba(0, 0, 0 , 0.8);
  height: 100%;
  opacity: 0;
  transition: all .6s;
  visibility: hidden;
  width: 100%;
  z-index: 4;

  /* Open States */
  &:target {
    opacity: 1;
    visibility: visible;

    .popup-content {
      opacity: 1;
      transform: scale(1);
    }
  }

  &-content {
    position: relative;
    width: 75%;
    margin: auto;
    padding: 4rem;
    opacity: 0;
    transform: scale(0);
    transition: all .6s;

    img {
      border: .5rem solid var(--white);
    }
  }
}

.close,
.close:link,
.close:visited {
  position: absolute;
  top: 1rem;
  right: -4rem;
  background-color: var(--white);
  color: gray;
  border-radius: 50%;
  width: 2.7rem;
  transition: all .4s;
  font-weight: bold;
  text-decoration: none;

  @include respond(tablet) {
    right: -2rem;
  }
}

.close:hover {
  color: var(--light-purple);
}

/* = Normal Content = */

.image-box {
  width: 25%;
  height: auto;
  overflow: hidden;

  &-doll {
    width: 50%;
    height: auto;
    margin: 2rem auto;

    a:link,
    a:visited {
      display: block;
      transition: all .2s;
    }

    a:hover {
      box-shadow: 1rem 1rem 0 var(--light-purple),
                  -1rem -1rem 0 var(--light-purple),
                  1rem -1rem 0 var(--light-purple),
                  -1rem 1rem 0 var(--light-purple);
    }

    @include respond(tablet) {
      width: 80%;
    }
  }

  a:link,
  a:visited {
    display: block;
    transition: all .2s;
  }

  a:hover {
    opacity: .8;
  }
}

.primary-content__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.primary-content {
  margin: 0 2rem;
  width: 60%;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/* === Media Queries === */

/* = Mobile = */
@include respond(phone-lg) { /* 670px */
  .gallery-main {
    margin-top: -3.3rem;

    &__nav {
      width: 100%;
    }

    &__nav-link:link {
      margin: .8rem 0;
      display: block;
      text-align: center;
      background: transparent;
    }

    &__nav-link:hover {
      background-position: 100%;
    }
  }

  .primary-content__container {
    display: block;
  }

  .primary-content {
    width: 90%;
  }

  .image-box {
    width: 100%;
    height: auto;
  }

  .popup {
    display: none;

    &:target {
      display: none;
    }
  }

  .gallery-section__heading {
    margin: 5rem 0 3rem 0;
    padding: 0 .5rem;
    font-size: 2.5rem;
  }

  .section-sub-heading {
    margin: 4rem 0 1rem 0;
    font-size: 1.5rem;
  }

  .tour-link {
    margin: 1rem 0;
  }
}
