.hero.setup-hero {
  @include darker-hero-background;
}

.setup-hero__heading {
  margin: 4rem 0 2rem 0;
  text-align: center;

  @include respond(tablet-lg) {
    margin: 6rem 0 4rem 0;
  }
}

.setup-main {
  width: 100%;
  color: var(--white);

  &__content {
    width: 65%;

    @include respond(desktop-sm) {
      padding: 1rem;
      width: 100%;
    }
  }
  
  &__content-container {
    margin-bottom: 2.5rem;

    @include respond(tablet-lg) {
      margin-bottom: 4rem;
    }
  }

  &__resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}