@import '../shared';
@import '../components/hero';

/* === Main Content === */
.home {
  &__main {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 5rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }

  &__heading {
    animation: fade-in 1.3s 0.3s backwards;
    color: var(--white);
    font-family: 'Kaushan Script', cursive;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    position: relative;
    top: 1rem;
  }

  &__content-wrapper {
    margin: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__para {
    margin: 4rem 0;
    animation: fade-in 1.3s 1s backwards;
    color: #fff;
    width: 70%;
    font-size: 1.5rem;
    line-height: 2;
    font-weight: 500;

    @include respond(desktop-md) {
      width: 60%;
    }
  }

  &__buttons-btn {
    margin: 0 0.5rem;
  }

  &__resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  @include respond(tablet-lg) {
    &__main {
      height: 90%;
      padding: 10rem 0;
    }

    &__heading {
      font-size: 6rem;
    }

    &__para {
      font-size: 2rem;
      margin: 7rem 0;
      width: 90%;
      line-height: 2;
    }

    &__buttons-btn {
      height: 7rem;
      width: 20.5rem;
      font-size: 1.8rem;
      margin: 2rem;
    }
  }

  @include respond(desktop-sm) {
    &__main {
      padding: 10rem 0;
    }

    &__heading {
      font-size: 5rem;
      letter-spacing: 0.2rem;
    }

    &__para {
      font-size: 1.3rem;
      line-height: 1.7;
      margin: 4rem 0;
    }

    &__content-wrapper {
      margin: 1rem 0;
      flex-direction: column;
    }
  }
}

.slogan {
  margin-top: 4rem;
  animation: fade-in 1.3s 0.8s backwards;
  color: var(--white);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;

  @include respond(tablet-lg) {
    font-size: 2.3rem;
  }
}

.video-slider {
  width: 60%;
  margin-top: 4rem;

  .slick-dots li button::before {
    color: white;
  }

  .slick-arrow {
    margin: 2.5rem 50%;
    transform: translateX(-50%);
  }
}

.promo-vid-slide {
  width: 60%;
}

.info-home {
  top: 18rem;
  right: 6rem;

  @include respond(desktop-md) {
    right: 1rem;
  }
}

.home__buttons-btn {
  @include button;
}

a:link .home__buttons-btn {
  color: var(--white);
  text-decoration: none;
}

a:visited .home__buttons-btn {
  color: var(--white);
}

/* === Media Queries === */

@include respond(desktop-sm) {
  .hero__buttons-btn {
    height: 4.5rem;
    width: 16rem;
    font-size: 1rem;
  }

  .price-match-box--desktop {
    display: none;
  }

  .price-match-box--mobile {
    display: block;
  }
}

/* = Tablet = */
@media only screen and (max-width: 55.63rem) and (orientation: portrait) {
  /* 890px */
  /* Banner */
  .home__main {
    padding: 5rem 0;
  }

  .home__heading {
    margin-top: 3rem;
    font-size: 6rem;
  }

  .home__para {
    width: 100%;
    font-size: 2rem;
    line-height: 2;
    margin: 7rem 0;
  }

  .home__buttons-btn {
    height: 6rem;
    width: 19.5rem;
    font-size: 1.7rem;
    margin: 2rem;
  }
}

/* = Wide Mobile = */

@media only screen and (max-width: 41.9em) {
  /* 670px */

  .slogan {
    margin-bottom: -17rem;
  }

  .home__vid-mobile-respond {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  /* Banner */
  .home__main {
    padding: 0;
  }

  .home__heading {
    text-align: center;
    margin-top: 3rem;
    font-size: 4.2rem;
  }

  .home__para {
    font-size: 1.5rem;
    line-height: 2;
    margin: -3rem 0 2rem 0;
  }

  .video-slider {
    width: 100%;
    margin-bottom: 0;
  }

  .promo-vid-slide {
    width: 100%;
  }

  .home__buttons-btn {
    font-size: 1.5rem;
    margin: 0;
  }
}
