@mixin respond($breakpoint) {
  @if $breakpoint == desktop-lg {
    @media only screen and (min-width: 75em) {
      @content;
    } // > 1200 px
  } @else if $breakpoint == desktop-md {
    @media only screen and (max-width: 69.56em) {
      @content;
    } // < 1113px
  } @else if $breakpoint == tablet-lg {
    @media only screen and (min-width: 62.5em) and (orientation: portrait) {
      @content;
    } // > 1000px
  } @else if $breakpoint == desktop-sm {
    @media only screen and (max-width: 62.5em) {
      @content;
    } // < 1000px
  } @else if $breakpoint == tablet {
    @media only screen and (max-width: 55.63rem) and (orientation: portrait) {
      @content;
    } // < 890px
  } @else if $breakpoint == phone-lg {
    @media only screen and (max-width: 41.9em) {
      @content;
    } // < 670px
  } @else if $breakpoint == phone-sm {
    @media only screen and (max-width: 25em) and (orientation: portrait) {
      @content;
    } // < 400px
  }
}

@mixin darker-hero-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../assets/banner/banner-1x.jpg);

  @include respond(desktop-lg) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../assets/banner/banner-2x.jpg);
  }

  @include respond(tablet-lg) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../assets/banner/banner-2x-trimmed.jpg);
  }

  @include respond(desktop-sm) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(../assets/banner/banner-slightly-trimmed-1x.jpg);
  }
}

@mixin hero-main-content {
  width: 100%;
  color: var(--white);

  &__content {
    width: 65%;
    text-align: center;

    @include respond(desktop-sm) {
      padding: 1rem;
      width: 100%;
    }
  }

  &__content-container {
    margin-bottom: 3rem;

    @include respond(tablet-lg) {
      margin-bottom: 4rem;
    }
  }
}

@mixin button {
  &:hover {
    transform: translateY(-0.5rem) scale(1.02);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  &:active,
  &:focus {
    transform: translateY(0);
    outline: none;
  }
}
