/* Variables */
:root {
  --light-purple: #db27fa;
  --dark-purple: #391f3a;
  --off-black: #242e34;
  --off-white: #ece9d9;
  --white: #f8f7f1;
  --gold: #AF9933;
  --hero-background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    );
}